.card {
  margin-top: 30px;

  h1 {
    background-color: #ffcc33;
    color: #000;
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
  }

  .category-list {
    border: 1px solid #ddd3d3;
    max-width: 215px;
    width: 100%;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          color: #17871f;
          font-weight: 500;
          padding: 10px 15px;
          display: block;

          &.active {
            background-color: #ffecb2;
          }
        }
      }
    }
  }

  .main-container {
    width: 100%;
    max-width: 600px;
    margin: 0px 15px;
  }

  .item-container {
    border: 1px solid #ddd3d3;
    max-height: 400px;
    overflow-y: auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0 15px;

        p.name {
          span {
            display: inline-block;
            margin-right: 10px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
          }
        }

        .btn-container {
            .btn{               
                i{
                    color: #fff;
                }
            }            
          label {
            margin: 0 15px;
          }
        }
      }
    }
  }

  .cart-container {
    max-width: 250px;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd3d3;
    
    h1{
        text-align: left;
        i{
            float: right;
            cursor: pointer;
        }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0 15px;

        p.name {
          span {
            display: inline-block;
            margin-right: 10px;
            width: 8px;
            height: 8px;
            border-radius: 100%;
          }
        }
      }
    }
    .btn-primary{
        max-width: 80%;
        margin: 10px auto;
        background-color: #ffcc33;
        border-color: #ffcc33;
        border-radius: 0;
    }
  }
}
