<main class="container">
  <div class="card">
    <div class="card-body">
      <div class="row align-items-start">
        <aside class="category-list">
          <h1>Category</h1>
          <ul>
            <li><a href="#chineseCombo" (click)="activeMenu('Combos')"
                [ngClass]="{'active' : activeMenuLink == 'Combos'}">Chinese Combos</a></li>
            <li><a href="#chineseStarter" (click)="activeMenu('Starter')"
                [ngClass]="{'active' : activeMenuLink == 'Starter'}">Chinese Starter</a></li>
            <li><a href="#salad" (click)="activeMenu('Salad')"
                [ngClass]="{'active' : activeMenuLink == 'Salad'}">Salad</a></li>
            <li><a href="#oriental" [ngClass]="{'active' : activeMenuLink == 'Oriental'}"
                (click)="activeMenu('Oriental')">Oriental</a></li>
          </ul>
        </aside>
        <main class="main-container">
          <section class="item-container">
            <ul id="chineseCombo">
              <h1>Chinese Combo</h1>
              <li class="d-flex justify-content-between" *ngFor="let item of menuItems; let i = index">
                <p class="name"><span
                    [ngClass]="{'green': item.vegflag == 'veg', 'red': item.vegflag == 'nonveg'}"></span>{{item.name}}
                  {{i}}</p>
                <div class="btn-container">
                  <button class="btn green" (click)="addCart(item)"><i class="fas fa-plus-circle"></i></button>
                  <label>0</label>
                  <button class="btn red" (click)="removeCart(i)"><i class="fas fa-minus-circle"></i></button>
                </div>
              </li>
            </ul>
            <ul id="chineseStarter">
              <h1>Chinese Starter</h1>
              <li class="d-flex justify-content-between" *ngFor="let item of menuItems; let i = index">
                <p class="name"><span
                    [ngClass]="{'green': item.vegflag == 'veg', 'red': item.vegflag == 'nonveg'}"></span>{{item.name}}
                  {{i}}</p>
                <div class="btn-container">
                  <button class="add-item" (click)="addCart(item)"><i class="fas fa-plus-circle"></i></button>
                  <label>0</label>
                  <button class="remove-item" (click)="removeCart(i)"><i class="fas fa-minus-circle"></i></button>
                </div>
              </li>
            </ul>
            <ul id="salad">
              <h1>Salad</h1>
              <li class="d-flex justify-content-between" *ngFor="let item of menuItems; let i = index">
                <p class="name"><span
                    [ngClass]="{'green': item.vegflag == 'veg', 'red': item.vegflag == 'nonveg'}"></span>{{item.name}}
                  {{i}}</p>
                <div class="btn-container">
                  <button class="add-item" (click)="addCart(item)"><i class="fas fa-plus-circle"></i></button>
                  <label>0</label>
                  <button class="remove-item" (click)="removeCart(i)"><i class="fas fa-minus-circle"></i></button>
                </div>
              </li>
            </ul>
            <ul id="oriental">
              <h1>Oriental</h1>
              <li class="d-flex justify-content-between" *ngFor="let item of menuItems; let i = index">
                <p class="name"><span
                    [ngClass]="{'green': item.vegflag == 'veg', 'red': item.vegflag == 'nonveg'}"></span>{{item.name}}
                  {{i}}</p>
                <div class="btn-container">
                  <button class="add-item" (click)="addCart(item)"><i class="fas fa-plus-circle"></i></button>
                  <label>0</label>
                  <button class="remove-item" (click)="removeCart(i)"><i class="fas fa-minus-circle"></i></button>
                </div>
              </li>
            </ul>
          </section>
        </main>
        <aside class="cart-container">
          <h1>Your cart <i class="far fa-trash-alt" (click)="clearCart()"></i></h1>
          <ul>
            <li *ngFor="let item of cartArray">
              <p class="name"><span
                  [ngClass]="{'green': item.vegflag == 'veg', 'red': item.vegflag == 'nonveg'}"></span>{{item.name}}
                {{i}}</p>
            </li>
          </ul>
          <div class="text-center">
            <button type="submit" class="btn btn-primary w-100">Checkout</button>
          </div>
        </aside>
      </div>
    </div>
  </div>
</main>
