/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
}

header{
    background-color: #ffcc33;
    
    .navbar{
        min-height: 56px;
        box-shadow: none !important;
    }
}