<header>
    <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark">
    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Cart</a>
            </li>
        </ul>
        <!-- Links -->

<!-- Search form -->
<button class="btn dropdown-toggle mr-4" type="button" data-toggle="dropdown"
aria-haspopup="true" aria-expanded="false">user@gmail.com</button>

<div class="dropdown-menu">
<a class="dropdown-item" href="#">Profile</a>
<a class="dropdown-item" href="#">Logout</a>
</div>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
</header>
